.App {
    text-align: center;
    justify-content: center;
  }
  
  .card {
    text-align: left;
    max-width: 500px;
    font-weight: 100;
    justify-content: center;
    margin: auto;
  }
  
  .scroll {
    max-height: 500px;
    overflow-y: auto;
}